body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #1c1e21;
}
main {
    background-color: #f2f4f7;
    padding: 8vw 0 10vw 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


#main{
    margin: 0 0 0 15vw;
    display: flex;

}
#logo-div{
    padding-top: 2vh;
    width: 33vw;
}
#logo {
    width: 21vw;
}

#slogan{
    font-size: 28px;
    margin-left: 2vw;
}

#reg_create {
    margin-left: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}

#registration {
    background-color: #fff;
    height: 35vh;
    padding: 2.5vh;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}
input {
    width: 95%;
    margin-bottom: 2.5vh;
    height: 6vh;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 8px;
    font-weight: 500;
}

input:hover {
    border-color: #0866ff;
}

input:focus {
    border-color: #0866ff;
    box-shadow: 0 4px 8px 0 rgba(8, 102, 255, 0.2), 0 6px 20px 0 rgba(8, 102, 255, 0.19);
    outline: none;
}


#login{
    width: 100%;
    background-color: #0866ff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    height: 5vh;
    font-weight: bold;
}
#center{
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
#login:hover{
    cursor: pointer;
    background-color: #2b7cfe;
}
#forgot{
    color: #0866ff;
    font-size: 14px;
    font-weight: 500;
    
}
hr{
    width: 100%;
}
#create_acc{
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color:#fff;
    font-weight: bold;
}
#create_acc:hover{
    background-color: #23962f;
    text-decoration: none;
}



#create_page{
    
    height: 5vh;
    font-size: 14px;
    align-items: center;
}
#create_link{
    font-weight: bold;
    font-size: 14px;
    color:#1c1e21;
    text-decoration: none;
}



footer{
    height: 20vh;
    background-color: #fff;
    color: #737373;
    padding: 0 20vw;
    margin-top: 5vh;
    font-size: 12px;    
}
.options_footer{
    display: flex;
    flex-wrap: wrap;
}
.option_footer{
    color:#8a8d91;
    cursor: pointer;
    margin-right: 1vw;
}
#also{
    height: 8vh;
}
footer hr{
    color: #dddfe2;
    margin: 1.5vh 0;
}